body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}
/* Sidebar styling */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #333;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #4CAF50;
}

.sidebar input[type="search"] {
    margin: 10px;
    padding: 8px;
    width: calc(100% - 20px);
}

/* Quick Script section */
.quick-script {
    background-color: #444;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #ccc;
    text-align: center;
}

.quick-script button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.container {
    text-align: center;
}

.file-label {
    font-weight: bold;
}

.custom-file-input {
    margin: 10px 0;
}

.upload-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #45a049;
}

#previewArea {
    margin-top: 20px;
}

#previewArea img {
    max-width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
